.DS_Store
django_api/django_api/__pycache__/
django_api/scenarios_api/__pycache__/
django_api/scenarios_api/__pycache__/
django_api/scenarios_api/migrations/__pycache__/
django_api/django_api/__pycache__/
django_api/scenarios_api/__pycache__/
django_api/scenarios_api/migrations/__pycache__/
